.contactInformationBlockForm {
	width: 100%;
	height: 169px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}

@media screen and (max-width: 768px) {
	.contactInformationBlockForm {
		width: 100%;
		height: 169px;

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: space-between;
}
}