.sloganFastImg {
	width: 28px;
	height: 28px;

	margin-top: 6px;
}

@media screen and (max-width: 768px) {
	.sloganFastImg {
		margin: 0;
}
}

@media screen and (max-width: 576px) {
	.sloganFastImg {
		width: 14px;
		height: 14px;

}
}