.aboutUsBlockGalleryInputBlock {
	width: 300px;
	height: 44px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media screen and (max-width: 992px) {
	.aboutUsBlockGalleryInputBlock {
	width: 83%;
	min-width: 235px;
}
	.aboutUsBlockGalleryInputBlock > input {
		width: 40%;
	}

}

@media screen and (max-width: 768px) {
	.aboutUsBlockGalleryInputBlock {
	width: 100%;
}
}