.aboutUsBlockGallery {
	width: 45%;
	height: 314px;
	background-color: white;

	align-items: center;
}

@media screen and (max-width: 768px) {
	.aboutUsBlockGallery {
		width: 54%;
		height: auto;
	}
}

@media screen and (max-width: 576px) {
	.aboutUsBlockGallery {
		width: 100%;
		margin-top: 80px;
	}
}