.headerNavigationBar {
	width: 90%;
	height: 72px;
	
	box-sizing: border-box;
	padding: 0 20px 0 20px;
	margin: 0px;
	
	flex-direction: row;
	justify-content: space-between;

	
}

/*@media screen and (max-width: 992px) {
	.headerNavigationBar {
	width: 60%;
	height: 72px;
	
	box-sizing: border-box;
	padding: 0 20px 0 20px;
	margin: 0px;
	
	flex-direction: row;
	justify-content: space-between;

	
}
}
*/